[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
User={{ redis_user }}
Group={{ redis_group }}
ExecStart=/usr/bin/redis-server {{ redis_config_dir }}/redis.conf
ExecStop=/usr/bin/redis-cli shutdown
Restart=always
RestartSec=3
LimitNOFILE=65535
RuntimeDirectory=redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
