[Unit]
Description=Redis Sentinel
After=network.target redis.service
Requires=redis.service

[Service]
User={{ redis_user }}
Group={{ redis_group }}
ExecStart={{ redis_sentinel_binary | default('/usr/bin/redis-sentinel') }} {{ redis_config_dir }}/sentinel.conf
ExecStop=/usr/bin/redis-cli -p {{ sentinel_port }} shutdown
Restart=always
RestartSec=3
LimitNOFILE=65535
RuntimeDirectory=redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
